.container {
  background-color: crimson;
  height: 100vh;
}

.wrapper {
  height: 25px;
  justify-content: center;
}

.addressbook {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: darkmagenta;
  margin: 40px 200px;
}

.input {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: solid;
}

.btn {
  /* padding: 15px; */
  margin: 8px;
}